<mat-nav-list>
  <h1 matSubheader class="mt-2">IZ PROJECT</h1>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon> <strong>Home</strong></a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/one" routerLinkActive="list-item-active"><mat-icon>search</mat-icon><strong> Search for components</strong></a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/two" routerLinkActive="list-item-active"><mat-icon>data_usage</mat-icon><strong> Find component usages</strong></a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/three" routerLinkActive="list-item-active"><mat-icon>feedback</mat-icon><strong>Find cause probabilities</strong></a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/four" routerLinkActive="list-item-active"><mat-icon>find_replace</mat-icon><strong> Search for similiar PC's</strong></a>
  <mat-divider></mat-divider>
</mat-nav-list>
