<mat-nav-list>
  <h1 matSubheader class="mt-2">IZ PROJECT</h1>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon> <strong>Home</strong></a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/one" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon><strong>Point one</strong></a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/two" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon><strong>Point two</strong></a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/three" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon><strong>Point three</strong></a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/four" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon><strong>Point four</strong></a>
  <mat-divider></mat-divider>
</mat-nav-list>
